<br>
<br>
<br>
<br>
<div class="container">
    <div class="listFram">
        <h1>
          ShoppinFun
        </h1>
        <div class="container">
        <table>
        <tr class="itemList container">
            <th>
              ADD YOUR ITEMS HEAR
            </th>
            <tr *ngFor="let item of dataList">
              <td>
                <input type="checkbox" name="feature"
                       value="{{item.name}}" />
                <label for="{{item.name}}">{{item.name}}</label>
              </td>
            </tr>
            <div>
                <button type="button" class="btnAddItem btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                    Add item</button>
            </div>
      </table>
    </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="itemName" class="col-form-label">Name:</label>
              <input type="text" class="form-control" id="itemName">
            </div>
            <div class="form-group">
              <label for="itemQuantity" class="col-form-label">Quantity:</label>
              <textarea class="form-control" id="itemQuantity"></textarea>
            </div>
            <div class="form-group">
                <label for="itemPrice" class="col-form-label">Price:</label>
                <textarea class="form-control" id="itemPrice"></textarea>
              </div>
              <div class="form-group">
                  <label for="itemDiscription" class="col-form-label">Discription:</label>
                  <textarea class="form-control" id="itemDiscription"></textarea>
                </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addItemTODB()" data-dismiss="modal">Add Item</button>
        </div>
      </div>
    </div>
  </div>
